<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/main.css">
  <script defer src="js/main.js"></script>
  <title>Nutrition Analyzer API</title>
</head>
<body>
  <header></header>
  <div class="title">A resource for analyzing nutritional content</div>
  <div class="content">
    <div class="main">
      <div class="endpoints">
        <h4>Nutrition Analyzer API Endpoints</h4>
        <ul class="endpoint-list nodefault">
          <li><a href="/food/search/:term">/food/search/:term</li>
          <li><a href="/food/nutrients/aminos">/food/nutrients/aminos</li>
          <li><a href="/food/nutrients/aminos/essential">/food/nutrients/aminos/essential</li>
          <li><a href="/food/nutrients">/food/nutrients</li>
          <li><a href="/food/nutrition/:term">/food/nutrition/:term</li>
          <li><a href="/food/nutrients/id/:id">/food/nutrients/id/:id</li>
          <li><a href="/food/nutrients/name/:term">/food/nutrients/name/:term</li>
          <li><a href="/food/category/:term">/food/category/:term</li>
          <li><a href="/food/category/byid/:id">/food/category/byid/:id</li>
          <li><a href="/food/categories">/food/categories</li>
          <li><a href="/food">/food</li>
          <li><a href="/food/:id">/food/:id</li>
          <li><a href="/food/:id/nutrients">/food/:id/nutrients</li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>